@if(showView){ @if(errorMessage == ''){
<div class="d-flex w-100 justify-content-center text-center pb-5">
  <ul class="list-group w-list">
    <div *ngFor="let map of listMaps | orderBy : 'name'">
      <li
        class="list-group-item fw-bolder small"
        [attr.role]="!map.disabled || map.winner ? 'button' : null"
        [ngClass]="{
          'list-group-item-ag list-group-item-action': !map.disabled && !map.winner,
          'list-group-item-danger': map.disabled,
          'ag-color': !map.disabled && !map.winner,
          'list-group-item-success': map.winner
        }"
        (click)="disableMap(map)"
      >
        {{ map.name.toUpperCase() }}
        {{ map.disabled ? "(BANNED)" : map.winner ? "(WINNER!)" : "" }}
      </li>
    </div>
  </ul>
</div>
} @else {
<div class="w-100 d-flex justify-start-center pad-text-ag pb-4 flex-column">
  <h6 class="ag-color-sec text-uppercase fw-bold">Oh no!</h6>
  <hr />
  <p class="text-light text-justify small">
    {{ errorMessage }}
  </p>
</div>
@if (continueButton){
<div class="w-ag-custom m-auto m-auto d-flex justify-content-around pb-2">
  <button
    (click)="ContinueAsViewer()"
    class="btn btn-outline-success fw-bold text-uppercase p-3 text-light"
  >
    Continue as a Viewer! 👀
  </button>
</div>
} }
<div class="w-ag-custom m-auto m-auto d-flex justify-content-around pb-4">
  <button
    (click)="CancelMatchView()"
    class="btn btn-outline-danger fw-bold text-uppercase p-3 text-light"
  >
    Go Back! 🔙
  </button>
</div>
}
