<div class="w-100 text-center pt-4 d-flex justify-content-center flex-gap">
  <img src="../../../assets/logoag.png" alt="logo" width="160em" />
  <div class="d-flex flex-column justify-content-center align-items-start">
    <h3 class="ag-color-title mb-0">Map Banner</h3>
    <h1 class="ag-color fw-bolder mb-0 text-uppercase">Adrenaline Gamer</h1>
  </div>
</div>
<div
  class="w-100 d-flex justify-start-center pad-text-ag pt-5 pb-4 flex-column"
>
  <h6 class="ag-color-sec text-uppercase fw-bold">What's this?</h6>
  <hr />
  <p class="text-light text-justify small">
    I developed this webpage to enhance the competitive experience in Adrenaline
    Gamer and Half-Life Deathmatch by streamlining the map selection process.
    Players can vote to eliminate maps until only one remains, ensuring a fair
    and agreed-upon final map.
  </p>
  <p class="text-light text-justify small">
    This tool speeds up decision-making, reduces disputes, and supports
    efficient match management. It promotes fair play and strategic planning,
    aiming to elevate the quality of gameplay in these communities. Ultimately,
    it creates a more enjoyable and professional tournament experience.
  </p>
  <p class="text-light text-end small">Darkmencito 😇</p>
</div>
