<div class="container">
  <app-headermatch></app-headermatch>
  @if(!showListView){
  <div class="w-100 d-flex justify-start-center pad-text-ag pb-4 flex-column">
    <h6 class="ag-color-sec text-uppercase fw-bold">What's next?</h6>
    <hr />
  </div>
  <div class="w-ag-custom m-auto">
    <input
      type="text"
      class="form-control bg-transparent text-light fw-bolder match-param"
      placeholder="Enter match key here 💁‍♂️"
      [(ngModel)]="matchParam"
    />
    <div class="m-auto d-flex flex-column mt-3">
      <button
        (click)="JoinMatchView()"
        class="btn btn-outline-success fw-bold text-uppercase my-1 text-light"
      >
        Join a Match 🕹
      </button>
      <button
        class="btn btn-outline-danger fw-bold text-uppercase my-3 text-light"
      >
        Create a Match 🤬
      </button>
    </div>
  </div>
  }
  <app-joinmatch></app-joinmatch>
</div>
